.weather {
  /* border: 1px solid white; */
  height: 55vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.weather:hover {
  border: 0.2rem solid black;
}

.low {
  color: rgb(121, 118, 118);
  font-size: 20px;
}

.high {
  color: rgb(70, 68, 68);
  font-size: 20px;
}

.highlow {
  /* border: 3px solid rgb(219, 217, 217); */
  width: 70%;
  height: 10vh;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.weatherlogo {
  height: 15vh;
  width: 15vh;
}
h1 {
  font-size: 4rem;
  color: rgb(148, 88, 48);
}
h2 {
  font-size: 3rem;
  color: rgb(148, 88, 48);
}
.location {
  font-size: 2rem;
  color: white;
}
.current {
  font-size: 2rem;
  color: white;
}

.days {
  color: white;
  font-size: 2rem;
  margin-top: 2rem;
}

.sun:hover {
  background-image: url("../styles/WeatherLogo/sunG.webp");
  /* background-image: url("https://i.gifer.com/5a5R.gif"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.rain:hover {
  background-image: url("../styles/WeatherLogo/rainG.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
.storm:hover {
  background-image: url("../styles/WeatherLogo/stormG.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
.partlyCloudy:hover {
  background-image: url("../styles/WeatherLogo/cloudyG2.gif");
  /* background-image: url("../styles/WeatherLogo/partlyG.jpeg"); */
  background-size: cover;
  /* opacity: 0.9; */
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
}

.cloudy:hover {
  background-image: url("../styles/WeatherLogo/cloudyG.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  position: absolute;
  bottom: 0;
  right: 34%;
  height: 45vh;
  width: 32vw;
}
.main .days {
  font-size: 2.5rem;
  color: white;
}

.main .weatherlogo {
  height: 17vh;
  width: 17vh;
}
.main .high {
  font-size: 1.5rem;
}
.main .low {
  font-size: 1.5rem;
}
